@import '../../a_general_scss/general';
@import '../../a_general_scss/variables';


//configurado en ./css/_generales.scss


.img-code {
  margin-top: 20px;
  width: 80%;
}
.ex-img {
  width: 80%;
  margin: 20px 0 0 20px;
  box-shadow: 0 0 15px #d6daa91e;
}
.p-special {
  margin-top: 20px;
}
.w1 {
  width: 20%;
  min-width: 200px;
}
