//Color
$white-soft: #d6daa9;
$red: #ff192d;
$red-soft: #ff192c93;
$grey: #f8fdc286;
$grey-soft: #b2b68c85;
$orange: #ff5e00e1;
$black-background: #161616;
$black-soft: #242424fd;
$linewhite: #d6daa92a;

//Fonts
$montserrat: 'Montserrat', sans-serif;