@import '../_geneal/general';
@import '../_geneal/variables';


//configurado en ./css/_generales.scss


body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: 
    "header"
    "main";
};

header {
  width: 100%;
  grid-area: header;
};

main {
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  grid-area: main;
  position: relative;
  .main-section {
    height: auto;
    position: absolute;
    display: flex;
    .button-container {
      width: 695px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .main-button {
        width: 250px;
        height: 50px;
        margin: 70px 0 0 295px;
        font-family: $ocr;
        font-size: 1.2em;
        color: #fff;
        border: none;
        background-color: $green-button2;
        box-shadow: 0 1px 6px rgba(72,214,69,.2);
        &:last-child {
          margin-bottom: 50px;
        }
      }
    }
    .tablet-container {
      display: flex;
      align-items: center;
      justify-content: center;
      .tablet {
        width: 70%;
        .tablet-img {
          width: 100%;
        }
      }      
    }
  }  
}
