body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: "header" "main";
  position: relative;
}

header {
  width: 100%;
  grid-area: header;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
main .main-section {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn tab";
}
main .main-section .button-container {
  width: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: btn;
}
main .main-section .button-container .main-button {
  width: 250px;
  height: 50px;
  margin: 70px 0 0 295px;
  font-family: "OCR A Extended", sans-serif;
  font-size: 1.2em;
  color: #8fe803;
  border: none;
  border-radius: 50px;
  background: rgba(0, 71, 15, 0.9058823529);
  box-shadow: 0 0 40px rgba(72, 214, 69, 0.7);
  cursor: pointer;
}
main .main-section .button-container .main-button:last-child {
  margin-bottom: 50px;
}
main .main-section .button-container .main-button:hover {
  color: rgb(44, 90, 23);
  border: 2px solid rgba(0, 71, 15, 0.9058823529);
  background-color: #8fe803;
  box-shadow: 0px 0px 50px rgba(71, 214, 69, 0.8235294118);
}
main .main-section .tablet-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tab;
}
main .main-section .tablet-container .tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: end;
}
main .main-section .tablet-container .tablet .wrapper {
  width: 75%;
  height: 70%;
  background: #777c71;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
}
main .main-section .tablet-container .tablet .wrapper .screen {
  width: 88%;
  margin: 20px 0px 20px 20px;
  background: rgba(0, 54, 12, 0.8470588235);
  box-shadow: 0 0 60px rgba(72, 214, 69, 0.7);
  border: 2px solid #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .main-section .tablet-container .tablet .wrapper .screen .text-screen {
  width: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel {
  width: 60px;
  height: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #181818;
  margin-top: 7px;
  background-color: rgba(0, 54, 12, 0.8470588235);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:hover {
  background-color: rgba(0, 77, 17, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:active {
  border: 3px solid #002c09;
  background-color: rgba(1, 43, 10, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 .img-btn1 {
  width: 17px;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #ff9204;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff9204;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2:hover {
  box-shadow: none;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #851502;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:hover {
  background-color: #921803;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:active {
  border: 2px solid rgba(39, 39, 39, 0.8352941176);
  background-color: #611001;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 3px;
  background-color: #161918;
  border-radius: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #1e2423;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:hover {
  background-color: #2a3130;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:active {
  border: 3px solid #202725;
  background-color: #191d1c;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .space {
  margin-top: 14px;
}

body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: "header" "main";
  position: relative;
}

header {
  width: 100%;
  grid-area: header;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
main .main-section {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn tab";
}
main .main-section .button-container {
  width: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: btn;
}
main .main-section .button-container .main-button {
  width: 250px;
  height: 50px;
  margin: 70px 0 0 295px;
  font-family: "OCR A Extended", sans-serif;
  font-size: 1.2em;
  color: #8fe803;
  border: none;
  border-radius: 50px;
  background: rgba(0, 71, 15, 0.9058823529);
  box-shadow: 0 0 40px rgba(72, 214, 69, 0.7);
  cursor: pointer;
}
main .main-section .button-container .main-button:last-child {
  margin-bottom: 50px;
}
main .main-section .button-container .main-button:hover {
  color: rgb(44, 90, 23);
  border: 2px solid rgba(0, 71, 15, 0.9058823529);
  background-color: #8fe803;
  box-shadow: 0px 0px 50px rgba(71, 214, 69, 0.8235294118);
}
main .main-section .tablet-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tab;
}
main .main-section .tablet-container .tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: end;
}
main .main-section .tablet-container .tablet .wrapper {
  width: 75%;
  height: 70%;
  background: #777c71;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
}
main .main-section .tablet-container .tablet .wrapper .screen {
  width: 88%;
  margin: 20px 0px 20px 20px;
  background: rgba(0, 54, 12, 0.8470588235);
  box-shadow: 0 0 60px rgba(72, 214, 69, 0.7);
  border: 2px solid #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .main-section .tablet-container .tablet .wrapper .screen .text-screen {
  width: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel {
  width: 60px;
  height: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #181818;
  margin-top: 7px;
  background-color: rgba(0, 54, 12, 0.8470588235);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:hover {
  background-color: rgba(0, 77, 17, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:active {
  border: 3px solid #002c09;
  background-color: rgba(1, 43, 10, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 .img-btn1 {
  width: 17px;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #ff9204;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff9204;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2:hover {
  box-shadow: none;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #851502;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:hover {
  background-color: #921803;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:active {
  border: 2px solid rgba(39, 39, 39, 0.8352941176);
  background-color: #611001;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 3px;
  background-color: #161918;
  border-radius: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #1e2423;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:hover {
  background-color: #2a3130;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:active {
  border: 3px solid #202725;
  background-color: #191d1c;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .space {
  margin-top: 14px;
}

body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: "header" "main";
  position: relative;
}

header {
  width: 100%;
  grid-area: header;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
main .main-section {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn tab";
}
main .main-section .button-container {
  width: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: btn;
}
main .main-section .button-container .main-button {
  width: 250px;
  height: 50px;
  margin: 70px 0 0 295px;
  font-family: "OCR A Extended", sans-serif;
  font-size: 1.2em;
  color: #8fe803;
  border: none;
  border-radius: 50px;
  background: rgba(0, 71, 15, 0.9058823529);
  box-shadow: 0 0 40px rgba(72, 214, 69, 0.7);
  cursor: pointer;
}
main .main-section .button-container .main-button:last-child {
  margin-bottom: 50px;
}
main .main-section .button-container .main-button:hover {
  color: rgb(44, 90, 23);
  border: 2px solid rgba(0, 71, 15, 0.9058823529);
  background-color: #8fe803;
  box-shadow: 0px 0px 50px rgba(71, 214, 69, 0.8235294118);
}
main .main-section .tablet-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tab;
}
main .main-section .tablet-container .tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: end;
}
main .main-section .tablet-container .tablet .wrapper {
  width: 75%;
  height: 70%;
  background: #777c71;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
}
main .main-section .tablet-container .tablet .wrapper .screen {
  width: 88%;
  margin: 20px 0px 20px 20px;
  background: rgba(0, 54, 12, 0.8470588235);
  box-shadow: 0 0 60px rgba(72, 214, 69, 0.7);
  border: 2px solid #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .main-section .tablet-container .tablet .wrapper .screen .text-screen {
  width: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel {
  width: 60px;
  height: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #181818;
  margin-top: 7px;
  background-color: rgba(0, 54, 12, 0.8470588235);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:hover {
  background-color: rgba(0, 77, 17, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:active {
  border: 3px solid #002c09;
  background-color: rgba(1, 43, 10, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 .img-btn1 {
  width: 17px;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #ff9204;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff9204;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2:hover {
  box-shadow: none;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #851502;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:hover {
  background-color: #921803;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:active {
  border: 2px solid rgba(39, 39, 39, 0.8352941176);
  background-color: #611001;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 3px;
  background-color: #161918;
  border-radius: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #1e2423;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:hover {
  background-color: #2a3130;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:active {
  border: 3px solid #202725;
  background-color: #191d1c;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .space {
  margin-top: 14px;
}

body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: "header" "main";
  position: relative;
}

header {
  width: 100%;
  grid-area: header;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
main .main-section {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn tab";
}
main .main-section .button-container {
  width: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: btn;
}
main .main-section .button-container .main-button {
  width: 250px;
  height: 50px;
  margin: 70px 0 0 295px;
  font-family: "OCR A Extended", sans-serif;
  font-size: 1.2em;
  color: #8fe803;
  border: none;
  border-radius: 50px;
  background: rgba(0, 71, 15, 0.9058823529);
  box-shadow: 0 0 40px rgba(72, 214, 69, 0.7);
  cursor: pointer;
}
main .main-section .button-container .main-button:last-child {
  margin-bottom: 50px;
}
main .main-section .button-container .main-button:hover {
  color: rgb(44, 90, 23);
  border: 2px solid rgba(0, 71, 15, 0.9058823529);
  background-color: #8fe803;
  box-shadow: 0px 0px 50px rgba(71, 214, 69, 0.8235294118);
}
main .main-section .tablet-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tab;
}
main .main-section .tablet-container .tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: end;
}
main .main-section .tablet-container .tablet .wrapper {
  width: 75%;
  height: 70%;
  background: #777c71;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
}
main .main-section .tablet-container .tablet .wrapper .screen {
  width: 88%;
  margin: 20px 0px 20px 20px;
  background: rgba(0, 54, 12, 0.8470588235);
  box-shadow: 0 0 60px rgba(72, 214, 69, 0.7);
  border: 2px solid #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .main-section .tablet-container .tablet .wrapper .screen .text-screen {
  width: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel {
  width: 60px;
  height: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #181818;
  margin-top: 7px;
  background-color: rgba(0, 54, 12, 0.8470588235);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:hover {
  background-color: rgba(0, 77, 17, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:active {
  border: 3px solid #002c09;
  background-color: rgba(1, 43, 10, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 .img-btn1 {
  width: 17px;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #ff9204;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff9204;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2:hover {
  box-shadow: none;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #851502;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:hover {
  background-color: #921803;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:active {
  border: 2px solid rgba(39, 39, 39, 0.8352941176);
  background-color: #611001;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 3px;
  background-color: #161918;
  border-radius: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #1e2423;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:hover {
  background-color: #2a3130;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:active {
  border: 3px solid #202725;
  background-color: #191d1c;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .space {
  margin-top: 14px;
}

body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: "header" "main";
  position: relative;
}

header {
  width: 100%;
  grid-area: header;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
}
main .main-section {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn tab";
}
main .main-section .button-container {
  width: 695px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: btn;
}
main .main-section .button-container .main-button {
  width: 250px;
  height: 50px;
  margin: 70px 0 0 295px;
  font-family: "OCR A Extended", sans-serif;
  font-size: 1.2em;
  color: #8fe803;
  border: none;
  border-radius: 50px;
  background: rgba(0, 71, 15, 0.9058823529);
  box-shadow: 0 0 40px rgba(72, 214, 69, 0.7);
  cursor: pointer;
}
main .main-section .button-container .main-button:last-child {
  margin-bottom: 50px;
}
main .main-section .button-container .main-button:hover {
  color: rgb(44, 90, 23);
  border: 2px solid rgba(0, 71, 15, 0.9058823529);
  background-color: #8fe803;
  box-shadow: 0px 0px 50px rgba(71, 214, 69, 0.8235294118);
}
main .main-section .tablet-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tab;
}
main .main-section .tablet-container .tablet {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: end;
}
main .main-section .tablet-container .tablet .wrapper {
  width: 75%;
  height: 70%;
  background: #777c71;
  border: 2px solid #000;
  border-radius: 10px;
  margin-right: 50px;
  display: flex;
}
main .main-section .tablet-container .tablet .wrapper .screen {
  width: 88%;
  margin: 20px 0px 20px 20px;
  background: rgba(0, 54, 12, 0.8470588235);
  box-shadow: 0 0 60px rgba(72, 214, 69, 0.7);
  border: 2px solid #272727;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main .main-section .tablet-container .tablet .wrapper .screen .text-screen {
  width: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel {
  width: 60px;
  height: 100%;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #181818;
  margin-top: 7px;
  background-color: rgba(0, 54, 12, 0.8470588235);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:hover {
  background-color: rgba(0, 77, 17, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1:active {
  border: 3px solid #002c09;
  background-color: rgba(1, 43, 10, 0.8470588235);
  box-shadow: 0 0 20px #30a12e;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn1 .img-btn1 {
  width: 17px;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #000;
  margin-top: 1px;
  background-color: #ff9204;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #ff9204;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2:hover {
  box-shadow: none;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #851502;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:hover {
  background-color: #921803;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn2 .btn2-center:active {
  border: 2px solid rgba(39, 39, 39, 0.8352941176);
  background-color: #611001;
  box-shadow: 0 0 5px #b81d02;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  margin-top: 3px;
  background-color: #161918;
  border-radius: 50Px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #1e2423;
  cursor: pointer;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:hover {
  background-color: #2a3130;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .btn3 .btn3-center:active {
  border: 3px solid #202725;
  background-color: #191d1c;
}
main .main-section .tablet-container .tablet .wrapper .panel .buttons-panels-1 .space {
  margin-top: 14px;
}/*# sourceMappingURL=styles.css.map */