
@import '../_general/variables';
@import '../_general/index';
@import '../_general/cards';
@import '../_general/form';
@import '../_general/users';



body {
  height: 100vw;
  height: 100vh;
  background-color: #161616;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6% 94%;
  grid-template-areas: 
    "header"
    "main";
    position: relative;
};

header {
  width: 100%;
  grid-area: header;
};

main {
  width: 100%;
  height: 100%;
  background-image: url(../img/background_r&M2.jpg);
  background-position: left bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  grid-area: main;
  .main-section {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "main tab";
  }
}  

