@import '../../a_general_scss/_variables';
@import '../../a_general_scss/_general';


//nav configurado en ./css/_generales

.title-container {
  padding-bottom: 20px;
  border-bottom: 2px solid $red;

  .sub-title-clase5 {

    .link-youtube {
      font-size: .8em;
      font-style: italic;
      color: $red-soft;
      border-bottom: 1px solid $red-soft;
      &:hover {
        color: $red;
      }
    }
  }  
}

.topics-container {
  margin-top: 30px;
  .title-topics {
    font-size: 1.4em;
  }
  .ul-topics {
    margin-top: 10px;
    list-style-position: inside;
  }
  li {
    margin-top: 5px;
    color: $red;
    span {
      color: $white-soft
    }
  }
}

.img-container {
  margin-left: -2vw;

  .text-img {
    font-size: .8em;
    font-style: italic;
    color: $red-soft;
    margin-top: 30px;
    margin-left: 2vw;
  }
  img {
    width: 40%;
  }
}
