* {
  margin: 0;
  padding: 0;
  color: #d6daa9;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main nav" "footer footer footer footer";
}

/* **** CSS General */
a {
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 1em;
}

.p-text {
  font-weight: 300;
  margin-top: 20px;
}

.line {
  width: 95%;
  height: 10px;
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(214, 218, 169, 0.1647058824);
}

.link-definition {
  word-wrap: break-word;
  color: #ff192d;
}
.link-definition:hover {
  color: rgba(255, 25, 44, 0.5764705882);
}

.text-img {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(248, 253, 194, 0.5254901961);
  margin-top: 30px;
  margin-left: 2vw;
}

.link-video-container {
  width: 95%;
  height: auto;
  border: 2px solid rgba(178, 182, 140, 0.5215686275);
  border-radius: 10px;
  margin: 20px 0 0 20px;
  background-color: #1a1a1a;
}
.link-video-container:hover {
  color: #d6daa9;
  border: 2px solid #ff192d;
  box-shadow: 1px 1px 5px rgba(255, 25, 44, 0.5764705882);
}
.link-video-container:active {
  box-shadow: none;
}
.link-video-container .link-video {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px rgba(214, 218, 169, 0.12);
}
.link-video-container .link-video:hover {
  filter: brightness(1.5);
}
.link-video-container .link-video:active {
  filter: brightness(0.5);
}
.link-video-container .link-video .img-container {
  width: 40%;
  display: flex;
  align-items: center;
}
.link-video-container .link-video .img-container .link-img {
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.link-video-container .link-video .descriptions {
  width: 60%;
  height: 100%;
  margin-left: 20px;
}
.link-video-container .link-video .descriptions .text-video {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 20px;
}
.link-video-container .link-video .descriptions .text-video span {
  font-weight: 500;
}
.link-video-container .link-video .descriptions .text-yt {
  color: rgba(255, 25, 44, 0.5764705882);
  font-size: 0.8em;
  font-style: italic;
  margin-top: 30px;
}

/* ************** */
html {
  scroll-behavior: smooth;
}

header {
  margin: 0 5vw;
  grid-area: header;
}
header .title-sf {
  margin-top: 50px;
  padding: 15px 0;
  border: 2px solid #d6daa9;
  background-color: rgba(36, 36, 36, 0.9921568627);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .title-sf .skill {
  font-size: 3em;
  text-align: center;
  color: #ff192d;
}

main {
  margin-left: 5vw;
  grid-area: main;
}
main .container-img-title {
  width: 95%;
  margin-top: 50px;
  display: flex;
  border-bottom: 2px solid #ff192d;
}
main .container-img-title .img-logo {
  width: 60px;
  height: 60px;
}
main .container-img-title .title-container {
  padding-bottom: 30px;
  margin-left: 20px;
}
main .container-img-title .title-container .sub-title-clase .link-youtube {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(255, 25, 44, 0.5764705882);
  margin-left: 10px;
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
main .container-img-title .title-container .sub-title-clase .link-youtube:hover {
  color: #ff192d;
}
main .theme-guide {
  width: 95%;
  margin-top: 20px;
}
main .theme-guide .title-theme {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 10px;
}
main .theme-guide ul {
  list-style-position: inside;
  margin-top: 5px;
}
main .theme-guide ul li {
  color: rgba(248, 253, 194, 0.5254901961);
  line-height: 1.3em;
}
main .theme-guide ul li .anchor-link {
  font-size: 0.9em;
  font-weight: 300;
  color: #d6daa9;
}
main .theme-guide ul li .anchor-link:hover {
  color: rgba(255, 25, 44, 0.5764705882);
}
main .topics-container {
  width: 95%;
  margin-top: 40px;
}
main .topics-container .title-topics {
  font-size: 1.4em;
  margin-top: 40px;
  margin-bottom: -10px;
}
main .topics-container .ul-topics {
  list-style-position: inside;
  color: rgba(75, 77, 87, 0.9450980392);
}
main .topics-container .ul-topics li {
  font-size: 1em;
  margin-top: 30px;
  color: #ff192d;
  line-height: 1.4em;
}
main .topics-container .ul-topics li span {
  color: #d6daa9;
}
main .topics-container .ul-topics li .sub-ul-topics {
  margin-left: 15px;
  margin-top: 10px;
}
main .topics-container .ul-topics li .sub-ul-topics li span {
  font-size: 0.9em;
  font-weight: 300;
}

nav {
  margin-top: 50px;
  margin-right: 5vw;
  grid-area: nav;
}
nav .nav-menu-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-menu-container .up-link {
  position: fixed;
  opacity: 0.2;
  width: 3vw;
  height: 3vw;
  border: 2px solid #d6daa9;
  border-radius: 20%;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-menu-container .up-link .triangle {
  width: 70%;
}
nav .nav-menu-container .up-link:hover {
  opacity: 1;
  box-shadow: 0 0 3px #d6daa9;
}
nav .nav-menu-container .up-link:active {
  opacity: 0.5;
  filter: blur(3px);
}
nav .nav-menu-container .nav-img-link {
  width: 100%;
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
nav .nav-menu-container .nav-img-link .nav-img {
  width: 30px;
  height: 30px;
}
nav .nav-menu-container .nav-img-link .nav-link {
  font-size: 0.8em;
  text-align: left;
  margin-left: 15px;
}
nav .nav-menu-container .nav-img-link .select span {
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
nav .nav-menu-container .nav-img-link:hover {
  background-color: rgba(0, 0, 0, 0.123);
  border-left: 3px solid #ff192d;
}
nav .nav-menu-container .nav-img-link:hover span {
  color: #ff192d;
}

footer {
  position: relative;
  grid-area: footer;
  width: 100%;
  height: 150px;
  margin-top: 100px;
  border-top: 2px solid #d6daa9;
  background-color: rgba(36, 36, 36, 0.9921568627);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "footer1 footer2 footer3";
}
footer .space {
  margin-left: 10px;
}
footer .p-footer {
  font-size: 0.8em;
  font-weight: 300;
  font-style: italic;
}
footer .footer-1 {
  grid-area: footer1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-1 .skill-footer {
  font-size: 2em;
  color: #ff192d;
  margin-left: 40px;
}
footer .footer-1 .logo-avalith {
  width: 100px;
  margin-top: 20px;
  margin-left: 40px;
}
footer .footer-2 {
  grid-area: footer2;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer-3 {
  grid-area: footer3;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
footer .footer-3 .social-icons {
  display: flex;
  justify-content: space-between;
}
footer .footer-3 .social-icons .icon-social {
  width: 30px;
  margin-right: 20px;
  opacity: 0.5;
}
footer .footer-3 .social-icons .icon-social:last-child {
  margin-right: 0px;
}
footer .footer-3 .social-icons .icon-social:hover {
  opacity: 1;
}
footer .footer-3 .social-icons .icon-social:active {
  opacity: 0.5;
  filter: blur(3px);
}

.w80 {
  width: 80%;
}/*# sourceMappingURL=index.css.map */