@import '../../a_general_scss/variables';
@import '../../a_general_scss/general';


//nav -  configurado en ./css/_generales

.container-methods {
  margin-top: 50px;

  .methods {
    margin-top: 20px;
    
    .title-methods {
      font-size: 1.3em;
    }
    .text-change {
      font-size: .8em;
      color: $red-soft;
    }
    .text-method {
      margin-top: 20px;
    }
    .imgCode-methods {
      width: 600px;
      height: auto;
    }
  }
}
.boton-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .container-button {
    width: 95%;
    color: $white-soft;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    a {
      width: 100%;
      height: auto;
      color: $red;
      padding: 7px 20px;
      margin-right: 10px;
      border: 2px solid $white-soft;
      background-color: #1a1a1a;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &:hover {
        color: $white-soft;
        border: 2px solid $red;
        box-shadow: 1px 1px 5px $red-soft;
      }          
    }
  }
}