@import '../a_general_scss/variables';
@import '../a_general_scss/general';


//nav -  configurado en ./css/_generales

main {

  .container-methods {
    margin-top: 50px;

    .methods {
      margin-top: 20px;      
      .title-methods {
        font-size: 1.3em;
      }
      .text-change {
        font-size: .8em;
        color: $red;
      }
      .text-method {
        margin-top: 20px;
      }
      .imgCode-methods {
        width: 600px;
        height: auto;
      }
    }
  }
}
