*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  color: #FFFFFF;
  text-shadow: rgb(66, 66, 66) 2px 2px 2px;
}

.mainContainer{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
/* ************************ */

.line1{
  width: 100%;
  height: 15%;
  display: flex; 
}

.box3B{
  width: 70%;
  height: 100%;
  padding: 4px;
  background-color: #F0223B;
}
.boxA9 {
  width: 30%;
  height: 100%;
  padding: 4px;
  background-color: #FA23A9;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/* ************************ */
.line2{
  width: 100%;
  height: 70%;
  background-color: #22f03e80;
  display: flex;
}
.box96{
  width: 50%;
  height: 100%;
  padding: 4px;
  background-color: #8D0E96;
  display: flex;
  align-items: center;
}
.subLine2{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.boxB5{
  width: 100%;
  height: 50%;
  padding: 4px;
  background-color: #14E3B5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box7A{
  width: 100%;
  height: 50%;
  padding: 4px;
  background-color: #15967A;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ************************ */
.line3{
  width: 100%;
  height: 15%;
  display: flex;
  background-color: #4822f07c;
  
}
.boxE3{
  width: 34%;
  height: 100%;
  padding: 4px;
  background-color: #D72DB3;
  display: flex;
  justify-content: flex-end;
}
.boxFF{
  width: 33%;
  height: 100%;
  padding: 4px;
  background-color: #F34AFF;
  display: flex;
  align-items: flex-end;
}
.box2B{
  width: 33%;
  height: 100%;
  padding: 4px;
  background-color: #7BE32B; 
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}



