@import '../../a_general_scss/_variables';
@import '../../a_general_scss/_general';


//nav -  configurado en ./css/_generales

main {
  padding: 0 5vw;

  .container-methods {
    margin-top: 50px;

    .methods {
      margin-top: 20px;      
      .title-methods {
        font-size: 1.3em;
      }
      .text-change {
        font-size: .8em;
        color: $red;
      }
      .text-method {
        margin-top: 20px;
      }
      .imgCode-methods {
        width: 600px;
        height: auto;
      }
    }
  }
}
