@import '../../a_general_scss/general';
@import '../../a_general_scss/variables';


//configurado en ./css/_generales.scss


.img-code {
  margin-top: 20px;
  width: 80%;
}
.map-img-code {
  width: 100%;
}
.special {
  width: 55%;
}

.p-text {
  margin-top: 20px;
}
.ex-img {
  margin-left: 20px;
}
.ex6-img {
  width: 40%;
  margin-top: 20px;
  margin-left: 20px;
}