@import '../../a_general_scss/general';
@import '../../a_general_scss/general';


//configurado en ./css/_generales.scss


.img-container {
  margin-left: -2vw;

  .text-img {
    font-size: .8em;
    font-style: italic;
    color: $red-soft;
    margin-top: 30px;
    margin-left: 2vw;
  }
  img {
    width: 60%;
  }
}
  
