* {
  margin: 0;
  padding: 0;
  color: #d6daa9;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main nav" "footer footer footer footer";
}

a {
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 1em;
}

.line {
  width: 95%;
  height: 10px;
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(214, 218, 169, 0.1647058824);
}

.link-definition {
  word-wrap: break-word;
  color: #ff192d;
}
.link-definition:hover {
  color: rgba(255, 25, 44, 0.5764705882);
}

.text-img {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(248, 253, 194, 0.5254901961);
  margin-top: 30px;
  margin-left: 2vw;
}

.p-text {
  margin-top: 20px;
}

header {
  margin: 0 5vw;
  grid-area: header;
}
header .title-sf {
  margin-top: 50px;
  padding: 15px 0;
  border: 2px solid #d6daa9;
  background-color: rgba(36, 36, 36, 0.9921568627);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .title-sf .skill {
  font-size: 3em;
  text-align: center;
  color: #ff192d;
}

main {
  margin-left: 5vw;
  grid-area: main;
}
main .container-img-title {
  width: 95%;
  margin-top: 50px;
  display: flex;
  border-bottom: 2px solid #ff192d;
}
main .container-img-title .img-logo {
  width: 60px;
  height: 60px;
}
main .container-img-title .title-container {
  padding-bottom: 30px;
  margin-left: 20px;
}
main .container-img-title .title-container .sub-title-clase .link-youtube {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(255, 25, 44, 0.5764705882);
  margin-left: 10px;
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
main .container-img-title .title-container .sub-title-clase .link-youtube:hover {
  color: #ff192d;
}
main .theme-guide {
  width: 95%;
  margin-top: 20px;
}
main .theme-guide .title-theme {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 10px;
}
main .theme-guide ul {
  list-style-position: inside;
  margin-top: 5px;
}
main .theme-guide ul li {
  color: rgba(248, 253, 194, 0.5254901961);
  line-height: 1.3em;
}
main .theme-guide ul li span {
  font-size: 0.9em;
  font-weight: 300;
  color: #d6daa9;
}
main .topics-container {
  width: 95%;
  margin-top: 40px;
}
main .topics-container .title-topics {
  font-size: 1.4em;
  margin-top: 30px;
}
main .topics-container .ul-topics {
  margin-top: 30px;
  list-style-position: inside;
  color: rgba(75, 77, 87, 0.9450980392);
}
main .topics-container .ul-topics li {
  font-size: 1em;
  margin-top: 20px;
  color: #ff192d;
  line-height: 1.4em;
}
main .topics-container .ul-topics li span {
  color: #d6daa9;
}
main .topics-container .ul-topics li .sub-ul-topics {
  margin-left: 15px;
  margin-top: 10px;
}
main .topics-container .ul-topics li .sub-ul-topics li span {
  font-size: 0.9em;
  font-weight: 300;
}
main .topics-container .ul-topics .boton-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .topics-container .ul-topics .boton-container .link-boton {
  width: 95%;
  color: #d6daa9;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
main .topics-container .ul-topics .boton-container .link-boton a {
  width: 100%;
  height: auto;
  color: #ff192d;
  padding: 7px 20px;
  margin-right: 10px;
  border: 2px solid #d6daa9;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .topics-container .ul-topics .boton-container .link-boton a:hover {
  color: #d6daa9;
  border: 2px solid #ff192d;
  box-shadow: 1px 1px 5px rgba(255, 25, 44, 0.5764705882);
}

nav {
  margin-top: 50px;
  margin-right: 5vw;
  grid-area: nav;
}
nav .nav-menu-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-menu-container .nav-img-link {
  width: 100%;
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
nav .nav-menu-container .nav-img-link .nav-img {
  width: 30px;
  height: 30px;
}
nav .nav-menu-container .nav-img-link .nav-link {
  font-size: 0.8em;
  text-align: left;
  margin-left: 15px;
}
nav .nav-menu-container .nav-img-link .select span {
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
nav .nav-menu-container .nav-img-link:hover {
  background-color: rgba(0, 0, 0, 0.123);
  border-left: 3px solid #ff192d;
}
nav .nav-menu-container .nav-img-link:hover span {
  color: #ff192d;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: #000;
  grid-area: footer;
}

* {
  margin: 0;
  padding: 0;
  color: #d6daa9;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main main nav" "footer footer footer footer";
}

a {
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 1em;
}

.line {
  width: 95%;
  height: 10px;
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(214, 218, 169, 0.1647058824);
}

.link-definition {
  word-wrap: break-word;
  color: #ff192d;
}
.link-definition:hover {
  color: rgba(255, 25, 44, 0.5764705882);
}

.text-img {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(248, 253, 194, 0.5254901961);
  margin-top: 30px;
  margin-left: 2vw;
}

.p-text {
  margin-top: 20px;
}

header {
  margin: 0 5vw;
  grid-area: header;
}
header .title-sf {
  margin-top: 50px;
  padding: 15px 0;
  border: 2px solid #d6daa9;
  background-color: rgba(36, 36, 36, 0.9921568627);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .title-sf .skill {
  font-size: 3em;
  text-align: center;
  color: #ff192d;
}

main {
  margin-left: 5vw;
  grid-area: main;
}
main .container-img-title {
  width: 95%;
  margin-top: 50px;
  display: flex;
  border-bottom: 2px solid #ff192d;
}
main .container-img-title .img-logo {
  width: 60px;
  height: 60px;
}
main .container-img-title .title-container {
  padding-bottom: 30px;
  margin-left: 20px;
}
main .container-img-title .title-container .sub-title-clase .link-youtube {
  font-size: 0.8em;
  font-style: italic;
  color: rgba(255, 25, 44, 0.5764705882);
  margin-left: 10px;
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
main .container-img-title .title-container .sub-title-clase .link-youtube:hover {
  color: #ff192d;
}
main .theme-guide {
  width: 95%;
  margin-top: 20px;
}
main .theme-guide .title-theme {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 10px;
}
main .theme-guide ul {
  list-style-position: inside;
  margin-top: 5px;
}
main .theme-guide ul li {
  color: rgba(248, 253, 194, 0.5254901961);
  line-height: 1.3em;
}
main .theme-guide ul li span {
  font-size: 0.9em;
  font-weight: 300;
  color: #d6daa9;
}
main .topics-container {
  width: 95%;
  margin-top: 40px;
}
main .topics-container .title-topics {
  font-size: 1.4em;
  margin-top: 30px;
}
main .topics-container .ul-topics {
  margin-top: 30px;
  list-style-position: inside;
  color: rgba(75, 77, 87, 0.9450980392);
}
main .topics-container .ul-topics li {
  font-size: 1em;
  margin-top: 20px;
  color: #ff192d;
  line-height: 1.4em;
}
main .topics-container .ul-topics li span {
  color: #d6daa9;
}
main .topics-container .ul-topics li .sub-ul-topics {
  margin-left: 15px;
  margin-top: 10px;
}
main .topics-container .ul-topics li .sub-ul-topics li span {
  font-size: 0.9em;
  font-weight: 300;
}
main .topics-container .ul-topics .boton-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .topics-container .ul-topics .boton-container .link-boton {
  width: 95%;
  color: #d6daa9;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
main .topics-container .ul-topics .boton-container .link-boton a {
  width: 100%;
  height: auto;
  color: #ff192d;
  padding: 7px 20px;
  margin-right: 10px;
  border: 2px solid #d6daa9;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .topics-container .ul-topics .boton-container .link-boton a:hover {
  color: #d6daa9;
  border: 2px solid #ff192d;
  box-shadow: 1px 1px 5px rgba(255, 25, 44, 0.5764705882);
}

nav {
  margin-top: 50px;
  margin-right: 5vw;
  grid-area: nav;
}
nav .nav-menu-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-menu-container .nav-img-link {
  width: 100%;
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
nav .nav-menu-container .nav-img-link .nav-img {
  width: 30px;
  height: 30px;
}
nav .nav-menu-container .nav-img-link .nav-link {
  font-size: 0.8em;
  text-align: left;
  margin-left: 15px;
}
nav .nav-menu-container .nav-img-link .select span {
  border-bottom: 1px solid rgba(255, 25, 44, 0.5764705882);
}
nav .nav-menu-container .nav-img-link:hover {
  background-color: rgba(0, 0, 0, 0.123);
  border-left: 3px solid #ff192d;
}
nav .nav-menu-container .nav-img-link:hover span {
  color: #ff192d;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: #000;
  grid-area: footer;
}

.img-container {
  margin-left: -2vw;
}
.img-container .text-img {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 30px;
  margin-left: 2vw;
}
.img-container img {
  width: 60%;
}

.link-method {
  width: 90%;
  color: #d6daa9;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.link-method a {
  width: 100%;
  height: 100%;
  color: #ff192d;
  padding: 7px 20px;
  margin-right: 10px;
  border: 2px solid #d6daa9;
  background-color: rgba(36, 36, 36, 0.9921568627);
  text-align: center;
}
.link-method a:hover {
  color: #d6daa9;
  border: 2px solid #ff192d;
  box-shadow: 1px 1px 5px rgba(255, 25, 44, 0.5764705882);
}/*# sourceMappingURL=index.css.map */